---
layout: main
---

<div class="row">
  <div class="col-md-8 mb-5">
    <h2>Nuutse Preek</h2>
    <hr />
    <div>
      <div style="position:relative;padding-top:56.25%;">
        <iframe src="//www.youtube.com/embed/videoseries?list=PL3rAB5-SazVcI0T2OA1HzYuVMhvkMGrZi&wmode=opaque" frameborder="0" allowfullscreen
          style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
      </div>
    </div> 
  </div>
  {% include sidebar.html %}
</div>

<div class="row">
    <div class="col-md-8 mb-5">
      <h2>Ons Geskiedenis</h2>
    <hr />
    <p>
      Die Gereformeerde kerk Groblersdal is die sesde oudste van die 16 gemeentes in die GKSA se Klassis Lydenburg. Buiten die hoofdorp, Groblersdal, in Limpopo naby die grens met Mpumalanga en dié se grens met Gauteng, sluit ook Loskopdam en Maleoskop in. Einde 2015 was hier 159 belydende en 50 dooplidmate, vergeleke met 162 en 51 einde 2001.
    </p>
    <p>
      Die Gereformeerde kerk Groblersdal het op 16 November 1940 afgestig van die Gereformeerde kerk Bronkhorstspruit, wat tot 1956 as Erasmus bekendgestaan het. Ene mnr. Bezaans het 2 morg grond in die bos buite die dorp aan die gemeente geskenk. ’n Boukommissie is aangestel en drie erwe is ook op Marble Hall aangekoop. Die hoeksteen van Groblersdal se Gereformeerde kerkgebou is in 1949 gelê en dis op 2 Desember 1950 in gebruik geneem. Tydens dié geleentheid het ds. H.J.R. du Plessis voorgegaan met as teks Psalm 100:2.
    </p>
    <p>
      Die eerste pastorie is in 1950 gekoop en reeds in 1951 kon die eerste vaste leraar, ds. L.S. Klopper, bevestig word. Die nuwe pastorie is in 1966 voltooi, later verkoop en die nuwe pastorie in 2006 aangekoop.
     </p>
    <p>
      Die Gereformeerde kerk Marble Hall het in 1961 van Groblersdal afgestig. Mettertyd het die kerk op Groblersdal te klein geraak en het die gemeente begin beplan aan ’n groter, doelmatiger gebou. Op 24 September 1977 is die nuwe, moderne kerkgebou in gebruik geneem. Die argitek was Renier Roos en die bouaannemer J. Moolman. Die ou kerkgebou is destyds volledig omgebou en ’n saal omskep met ’n goeie verhoog, ruim kombuisgeriewe en katkisasielokale. Op 16 Junie 1984 is die nuwe pyporrel feestelik in gebruik geneem met onder meer ’n orreluitvoering deur A.A. van Namen.
      </p> 
  </div> 
  {% include contact_sidebar.html %}
</div>
