<div class="col-md-4 mb-5">
  <h2>Kontak Ons</h2>
  <hr />
  <address>
    <strong>Predikant:</strong>
    <br />Ds LSD du Plessis
    <br />
  </address> 
  <address>
    <strong>Pastorie:</strong>
    <br />Steenboklaan 18, Groblersdal
    <br />
  </address>
  <address>
    <strong>Posadres:</strong>
    <br />Posbus 124, Groblersdal, 0470
    <br />
  </address>
  <address>
    <abbr title="Tel">Tel:</abbr>
    (013) 262 4281
    <br />
    <abbr title="Sel">Sel:</abbr>
    (083) 259 9551
    <br />
    <abbr title="Email">E-Pos:</abbr>
    <a href="mailto:#">duplsdm9@gmail.com</a>
  </address> 
</div>
