<div class="col-md-4 mb-5">
  <h2>Belangrike Tye</h2>
  <hr />
  <address>
    <strong>Eredienste</strong>
    <br />Oggend – 09h00 
    <br />
  </address>
  <address>
    <strong>Katkisasie</strong>
    <br />Net na die oggenddiens
    <br />
  </address>
  <address>
    <strong>Volwasse Kategese</strong>
    <br />Woensdagaande om 19h00
    <br />
  </address>
  <address>
    <strong>Bybelstudie</strong>
    <br />Woensdagoggend 08h30
    <br />Woensdagaand 18h00
    <br />
  </address> 
</div>
